.homeCard{
    transition: transform .5s ease-in-out;

}

.homeCard:hover{
    transform: scale(1.1);
    
        
}

.card img{
    height: 200px !important;
}
.welcom-text {
    color: #574AE2;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    transition: all 0.4s ease-in-out;



}
.welcom-text:hover {
    color: rgb(180, 178, 49);
    background: rgb(97, 105, 102);
    outline: none;
    }
h1{
   font-family: 'Yellowtail', cursive; 
   transition: transform .5s ease-in-out;


}

h3{
    color: #574AE2;
    font-family: 'Montserrat', sans-serif;
}